.game-body{
    position: absolute;
    display: flex;
    height: 800px;
    width: 800px;
    top: 10px;
    left: calc(50% - 400px);
    /* background-color: bisque; */
}

.row{
    margin-left: 0px;
}

#top-left{
    border-radius: 400px 0 0 0;
}
#bot-left{
    border-radius: 0 0 0 400px;
}

#top-right{
    border-radius: 0 400px 0 0;
}

#bot-right{
    border-radius: 0 0 400px 0;
}

.lightup-yellow{
    box-shadow:
    inset 0px 0px 40px 25px  #f1eca2e8,  /* inner white */
    inset 0px 0px 100px 60px #f0e65f, /* middle magenta */
    inset 0px 0px 140px 90px #ffff21; /* outer cyan */
    background-color: yellow; 
}

.lightup-red{
    box-shadow:
    inset 0px 0px 20px 15px  #fd7c7ce8,  /* inner white */
    inset 0px 0px 100px 60px #f06e6e, /* middle magenta */
    inset 0px 0px 140px 90px #f32c2c; /* outer cyan */
    background-color: rgb(226, 38, 38); 
}

.lightup-blue{
    box-shadow:
    inset 0px 0px 40px 15px  #868efb,  /* inner white */
    inset 0px 0px 100px 60px #4c5df8, /* middle magenta */
    inset 0px 0px 140px 90px #1a3bf3; /* outer cyan */
    background-color: rgb(44, 44, 236); 
}

.lightup-green{
    box-shadow:
    inset 0px 0px 40px 15px  #8afb86,  /* inner white */
    inset 0px 0px 100px 60px #5af84c, /* middle magenta */
    inset 0px 0px 140px 90px #1af31a; /* outer cyan */
    background-color: #01ad01; 
}



.board-piece{
    position: relative;
    font-size: 100px;
    text-align: center;
    line-height: 400px;
    vertical-align: middle;
    height: 400px;
    width: 400px;
    border: 1px solid  black;
    background-color: #ceebec;
}

#circle { 
    width: 800px;
    height: 800px;
    background: red; 
    -webkit-border-radius: 100px; 
    border-radius: 400px;
    position: absolute;
    top: 10px;
    left: calc(50% - 400px);
}

#innerCircle { 
    width: 300px;
    height: 300px;
    background:black; 
    -webkit-border-radius: 70px; 
    border-radius: 150px;
    position: absolute;
    /* top: 330px; */
    top: calc(50% - 220px);
    left: calc(50% - 150px);
    /* text-align: center; */
    text-align: center;
    line-height: 300px;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.nameplate{
  position: relative;
  top: 80px;
  font-size: 70px;
}
.fa-play-circle{
    position: relative;
    font-size: 90px;
}
